*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container
{
    width: 100%;
    min-height: 100vh;
    padding: 5%;
    background-image: url(Media/bg3.png);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-acceuil h2
{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    color: snow;
    font-size: 40px;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.text-acceuil span
{
    color: rgb(186, 47, 47);
    font-weight: 800;
}

.bar-recherche
{
    width: 100%;
    max-width: 700px;
    background: rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    border-radius: 50px;
    padding: 2px 20px;
    backdrop-filter: blur(4px) saturate(180%);
}

.bar-recherche input
{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 16px;
    color: black;
    font-weight: 800;
}

::placeholder
 {
    color: snow;
 }

 .bar-recherche button img
 {
    width: 40px;
 }

 .bar-recherche button
 {
    border: 0;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    background: #828bb8;
    cursor: pointer;
    padding: 0;
    margin: 0;
 }